# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Cube-Surfer-Clone.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\Unity\Cube-Surfer-Clone\.idea\.idea.Cube-Surfer-Clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
